html,

body {
    background: -webkit-linear-gradient( #1bccbd, #2dd4b9);
    overflow: hidden;
    background-repeat: no-repeat;
    font-family: comic sans ms;
    height:100%;
    min-height:100%;
    max-height:100%;
}

* {
    box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
.header-right {
    float: none;
  }
}

#pic {
    display: block;
    border-radius: 50%;
    border-color: black;
    border: 2px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.kolom {
    width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color:rgba(255,255,255,0.7);
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
hr.new5 {
    border: 20px 
    solid darkcyan;
    border-radius: 5px;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: #000;
}
  
.facebook {
    background: #3B5998;
    color: white;
}
  
.twitter {
    background: #55ACEE;
    color: white;
}
  
.youtube {
    background: #bb0000;
    color: white;
}
  
#card {
    background:transparent;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 250px;
    width: 250px;
    margin: 6rem auto 8.1rem auto;
    font-size: 4;
}